{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Doctor Dashboard</h2>
        <p class="lead">Welcome, Mr. {{ user.username }}. Here you can manage your data</p>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Lehme Medical Diagnosis</h5>
                        <p class="card-text"> Use our pre-trained model to diagnosis initial symptoms</p>
                        <a href="#" class="btn btn-primary">Use Lehme</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">View Reports</h5>
                        <p class="card-text">Access medical reports and diagnostic results.</p>
                        <a href="#" class="btn btn-primary">View Reports</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
